html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.background-img1 {
    background-image: url("image1.png");/* Add Background Image here */
    min-height: 100%;
}

.background-img2 {
    background-image: url("image2.png");/* Add Background Image here */
    min-height: 400px;
}

.background-img3 {
    background-image: url("image3.png");/* Add Background Image here */
    min-height: 400px;
}

.background-img1, .background-img2, .background-img3 {
    position: relative;
    /* background-position: center ;  */
    /* norepetation of iamges */
    background-repeat: no-repeat; 
    background-size: cover; 
    /* to give a parallax effect */
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    width: 100%;
    /* to align all the elements in center */
    text-align: center;
    top: 50%;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textbg a {
    background-color: #313534;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
   background-color: #f4f4f4;
   color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}